@mixin container {
  box-sizing: border-box;
  padding: 0.5rem 10% 1.5rem;
}

.header{
  @include container;
  align-items: flex-start;
  background: #000;
  display: flex;
  height: 8vh;
  padding-top: 0.7rem;
  overflow:hidden;
  
  &--title {
    color: #fff;
    flex: 1 0 auto;
    margin: 0;
  }

  &--search {
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }
}

.photos {
  @include container;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  height: 93vh;
  overflow:auto;
}

.empty {
  display: block;
  margin:auto;
  color: #aaa;
  font-size: 1.8rem;
}