@mixin section-title{
  font-size: 0.8rem;
}

@mixin section-content{
  font-size: 0.75rem;
}

.photo {
  border: 1px solid #aaa;
  margin: 0.1rem 0.5rem;
  padding: 0.5rem;
  flex: 1 0 auto;
  width: 15rem;

  &-credits {
    margin: 0.6rem 0 0;
    word-wrap: break-word;
  }

  &-image {
    align-items: center;
    background: #f0f0f0;
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;

    & > img {
      height: 100%;
      width: auto;
      overflow: hidden;
    }
  }

  &-description {
    margin: 1rem 0;
    &--title {
      @include section-title;
      margin: 0;
    }

    &--content {
      @include section-content; 
      word-wrap: break-word;
    }
  }

  &-tags {
    margin: 1rem 0;
    &--title {
      @include section-title;
      display: inline-block;
      margin: 0;
      &::after{
        content: " ";
        display: inline-block;
      } 
    }

    &--content {
      @include section-content; 
      word-wrap: break-word;
    }
  }
}